* {
    background-color: black;
    box-sizing: border-box;
    font-family: helvetica;
    font-size: 22px;
    color: seashell;

}

nav {
    display: inline-flex;
    width: 100%;
    height: 69px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    top: 0px;
    border-bottom: 1px solid seashell;
}

.navlist {
    align-items: center;
    margin: 10px;
    opacity: .9;
}

.navitem {
    display: inline-flex;
    padding: 10px;
}

#logoimage {
    height: 50px;
    opacity: .9;
}


.missiondiv {
    height: 700px;
    width: 100%;
    background-image: url('/images/img-mission-background.jpg');
    opacity: .5;
    z-index: 1;
}

.missionmessage {
    background-color: black;
    position: relative;
    top: 300px;
    text-align: center;
    vertical-align: middle;
    height: 90px;

}

.missionbox {
    display: flex;
}

.sectionheader {
    font-size: 28px;
}

.teaofthemonth {
    text-align: center;
    margin: 10px;
    opacity: .5;
}

.monthitemsbox {
    width: 100%
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.monthitem {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    position: relative;
}


.monthimage {
    width: 300px;
    height: 200px;
    border: 2px solid white;
    border-radius: 10%;
}

.locationssection {
    background-image: url('/images/img-locations-background.jpg');
    height: 500px;
    opacity: .5;
    z-index: 1;

}

#locationheader {
    text-align: center;
    background-color: transparent;
    position: relative;
    top: 30px;
    font-weight: 700;
    color: seashell;
    opacity: 1;
}

.locationsbox {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    justify-content: center;
}

.locationsitem {
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10%;
}

.locationname {
    font-weight: 800;

}

.contact {
    text-align: center;
    opacity: .5;
}

.copyright {
    opacity: .5;
    font-size: 12px;
}